{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container w-75">
        {% if articles %}
            <div class="row row-cols-1 row-cols-md-3 g-4">
            <!--Article Cards-->
            {% for article in articles %}
                <div class="col">
                <div class="card p-3">
                    <button type="button" class="list-group-item" data-bs-toggle="modal" data-bs-target="#modal{{ article.id }}">
                        <!--Random image seeds are determined by the article id-->
                        <img class="card-img-top" src="https://picsum.photos/seed/{{ article.id }}/450/350">
                        <div class="card-body">
                            <h4 class="card-title">{{ article.article_title }}</h4>
                            <h5 class="fw-normal">{{ article.article_category }}</h5>
                            <p class="text-muted">{{ article.pub_date }}</p>
                        </div>
                    </button>
                </div>
                </div>
            {% endfor %}
            </div>
        </div>
        <!--Article Modals-->
        {% for article in articles %}
            <div class="modal fade" id="modal{{ article.id }}">
                <div class="modal-dialog modal-dialog-scrollable">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ article.article_title }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <p>Writen by user: {{ article.article_author }}</p>
                            <p class="text-muted">{{ article.pub_date }}</p>
                            <img src="https://picsum.photos/seed/{{ article.id }}/450/350">
                            <br><br>
                            {{ article.article_text }}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center">
            <p>There are currently no articles submitted. Try adding some by clicking the <strong>Submit an
                Article</strong> button at the top of the page!</p>
        </div>
    {% endif %}
    </div>
{% endblock %}
